body{
    font-family: Arial;
    margin:0;
    background:#f5f7fa;
}

header{
    text-align:center;
    padding:40px;
    background:#0078d4;
    color:white;
}

.profile-pic{
    width:180px;
    height:180px;
    border-radius:50%;
    border:5px solid white;
}

.btn{
    background:white;
    color:#0078d4;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

section{
    padding:30px;
}

.card{
    display:inline-block;
    background:white;
    padding:15px;
    margin:10px;
    border-radius:8px;
    box-shadow:0 0 5px gray;
}

.job{
    background:white;
    padding:15px;
    margin-bottom:15px;
    border-radius:8px;
    box-shadow:0 0 5px gray;
}

footer{
    text-align:center;
    background:#222;
    color:white;
    padding:20px;
}
